@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

body 
{
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	color: #3b4045;
	font-family: 'Roboto Slab', serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden
}

#header-container
{
	position: relative;
    text-align: center;
}

#header-container>img
{
	width: 100%;
}
#header-container>.title
{
	font-size: 3em;
	color:#FFF;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    line-height: 1em;
}
.container
{
	padding: 2.5%;
}
.container>.card
{
	position: relative;
	top:-8em;
}
.colored-font
{
	color:#FB8702;
}
.card
{
	background: #FFF;
	border-radius: 5px;
	box-shadow: 2px 2px 8px #212121;
}
.card-title
{
	font-size: 2em;
	margin:2% 0px;
}
.card-block
{
	padding: 1%;
}
.nav-item
{
	color:#212121;
}
.nav-item
{
	color:#000;
}
.nav-item .active
{
	color:#FB8702;
}
table>thead>tr
{
	background: #FB8702;
	color:#FFF;
	border-radius: 10px !important;
	border: 5px solid #FB8702;
}
table>tbody>tr>td
{
	padding: 15px 0px !important;
}
table,th
{
	text-align: center;
	vertical-align: middle !important;
}
th
{
	padding: 12px !important;
}
table>tbody>tr>td
{
	vertical-align: middle !important;
}
table>tbody>tr>td>button
{
	background: transparent;
	border: 1px solid #212121 !important;	
}
table>tbody>tr>td>button:hover
{
	background: #FB8702;
	color:#FFF !important;
}
.success-status
{
	background: #a6cf38;
	border-radius: 10px;
	padding:10px;
	color:#FFF;
}
.cancel-status
{
	background: #e95959;
	border-radius: 10px;
	padding:10px;
	color:#FFF;
}
@media (max-width: 991px) 
{
	#header-container>.title
	{
		font-size: 2.7em;
	}
	.container>.card
	{
		position: relative;
		top:-3em;
	}
	.card-title
	{
		font-size: 1.7em;
	}
}


@media (max-width: 576px) 
{
	#header-container>.title
	{
		font-size: 1.2em;
	}
	.container>.card
	{
		position: relative;
		top:-1.5em;
	}
	.card-title
	{
		font-size: 1.4em;
	}
}

@media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}



