<title>SIP Admin Panel</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="js/jquery.js"></script>           
<script type="text/javascript" src="js/materialize.min.js"></script>

<style>
	.gap
	{
		margin-top: 3rem
	}
	
	body {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	.main {
		flex: 1 0 auto;
	}
	.animated
    {
        -webkit-animation-duration: 0.3s;
        -webkit-animation-delay: 0.2s;
        -webkit-animation-iteration-count: 1;
    }
	@media only screen and (min-width: 601px) and (max-width: 1260px) {
	    .toast {
	        width: 100%;
	        border-radius: 0;
	    }
	}
	@media only screen and (min-width: 1261px) {
	    .toast {
	        width: 100%;
	        border-radius: 0;
	    }
	}
	@media only screen and (min-width: 320px) and (max-width: 600px) {
	    #toast-container {
	        min-width: 100%;
	        bottom: 0%;
	        top: 10%;
	        right: 0%;
	        left: 0%;
	    }
	}
	@media only screen and (min-width: 601px) and (max-width: 1260px) {
	    #toast-container {
	        bottom: 0%;
	        top: 10%;
	        right: 30%;
	        left: 30%;
	    }
	}
	@media only screen and (min-width: 1261px) {
	    #toast-container {
	        bottom: 0%;
	        top: 10%;
	        right: 30%;
	        left: 30%;
	    }
	}
</style>
<script>
	$(document).ready(function(){
		$('.dropdown-button').dropdown({
			inDuration: 300,
			outDuration: 225,
			constrainWidth: false, // Does not change width of dropdown to that of the activator
			gutter: 0, // Spacing from edge
			belowOrigin: true, // Displays dropdown below the button
			alignment: 'left', // Displays dropdown with edge aligned to the left of button
			stopPropagation: false // Stops event propagation
		});
		$(".button-collapse").sideNav();
	})
</script>