.gallery {
  position: relative;
}

.gallery.gallery-collection .gallery-item {
  margin-bottom: 1px;
}

.gallery .gallery-item {
  margin-bottom: 1.5rem;
}

.gallery .gallery-item .card {
  margin: 0;
}

.gallery .gallery-horizontal .gallery-curve-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gallery .gallery-horizontal .gallery-cover {
  height: 100%;
  width: auto;
  max-width: 50%;
}

.gallery .gallery-horizontal .gallery-header {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.gallery .gallery-expand.active {
  z-index: 9;
}

.gallery .gallery-expand.active .gallery-curve-wrapper {
  padding-top: 64px;
  cursor: default;
  box-shadow: none;
}

.gallery .gallery-expand.active .gallery-curve-wrapper .gallery-cover {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-header,
.gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-body,
.gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-action,
.gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover {
  z-index: 1;
}

.gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover {
  box-shadow: none;
  pointer-events: none;
}

.gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover.hover {
  opacity: 0;
}

.gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover.static {
  margin: 0;
}

.gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover .gradient {
  background: transparent;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
}

.gallery .gallery-expand .gallery-curve-wrapper {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.gallery .gallery-cover {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: top .5s;
  z-index: 2;
}

.gallery .gallery-cover.static {
  margin-left: 15%;
}

.gallery .gallery-cover.static img {
  min-width: 100%;
}

.gallery .gallery-cover img {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
  min-width: 100%;
  width: auto;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gallery .gallery-header {
  position: relative;
  padding: 20px;
  background-color: #fff;
  color: #444;
}

.gallery .gallery-header h1, .gallery .gallery-header h2, .gallery .gallery-header h3, .gallery .gallery-header h4, .gallery .gallery-header h5 {
  margin-top: 0;
}

.gallery .gallery-header p {
  color: #777;
}

.gallery .gallery-body {
  text-align: left;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  margin: 0 15%;
  background-color: #fff;
  z-index: 1;
}

.gallery .gallery-body .title-wrapper {
  margin-bottom: 30px;
}

.gallery .gallery-body .title-wrapper h1, .gallery .gallery-body .title-wrapper h2, .gallery .gallery-body .title-wrapper h3, .gallery .gallery-body .title-wrapper h4, .gallery .gallery-body .title-wrapper h5 {
  margin: 0 0 10px 0;
}

.gallery .gallery-body .title-wrapper .price {
  color: #777;
}

.gallery .gallery-body .description {
  font-size: 22px;
  font-weight: 300;
}

.gallery .gallery-action {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 15%;
  z-index: 2;
}

.gallery .gallery-action .btn, .gallery .gallery-action .btn-large {
  margin-left: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: none;
}

.gallery .gallery-action .btn.active, .gallery .gallery-action .active.btn-large {
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: box-shadow 0.3s, -webkit-transform 0.4s cubic-bezier(0.53, 0.01, 0.36, 1.63);
  transition: transform 0.4s cubic-bezier(0.53, 0.01, 0.36, 1.63), box-shadow 0.3s;
  transition: transform 0.4s cubic-bezier(0.53, 0.01, 0.36, 1.63), box-shadow 0.3s, -webkit-transform 0.4s cubic-bezier(0.53, 0.01, 0.36, 1.63);
}

#placeholder-navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  transition: background-color .3s;
}

#placeholder-navbar .back-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

#placeholder-navbar .back-btn i {
  float: left;
  margin-right: 10px;
}

#placeholder-overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  opacity: 0;
  transition: opacity .3s;
  will-change: opacity;
}

#placeholder-overlay.visible {
  opacity: 1;
}

#placeholder-overlay:hover {
  opacity: .9;
  transition: opacity .6s;
}

/*********************************
 *    COMPONENT COMPATIBILITY    *
 *********************************/
.gallery-body .carousel-wrapper {
  margin: 30px 0 20px -35px;
  width: calc(100% + 70px);
}

.gallery-body .carousel-wrapper .carousel {
  height: 200px;
}

.gallery-body .carousel-wrapper .carousel-item {
  opacity: 1 !important;
  width: 300px;
  height: 200px;
}

.nav-header .carousel {
  height: 100%;
}

.nav-header .carousel .carousel-item {
  word-break: break-word;
}

.nav-header .carousel .indicators {
  height: 56px;
}

.nav-header .carousel .indicators .indicator-item {
  float: none;
}

@media only screen and (max-width: 992px) {
  .gallery .gallery-cover.static {
    margin: 0;
  }
  .gallery .gallery-body {
    width: 100%;
    margin: 0;
  }
  .gallery .gallery-action {
    right: 0;
  }
  .gallery-body .carousel-wrapper {
    margin: 30px 0 20px -15px;
    width: calc(100% + 30px);
  }
}

@media only screen and (max-width: 600px) {
  nav.nav-full-header .nav-header {
    height: calc(100% - 112px);
  }
  nav.nav-full-header ~ .nav-categories {
    top: -56px;
  }
  nav .categories-wrapper {
    height: 56px;
  }
  nav .nav-header h1 {
    font-size: 40px;
  }
  .gallery .gallery-expand.active .gallery-curve-wrapper {
    padding-top: 56px;
  }
}